/* #nama{
  position: relative;
  margin-top: 195px;
  margin-left: 368px;
  font-size: 28px;
}

#paragraph{
  display: inline-block;
  position: relative;
  margin-top: 42px;
  margin-left: 205px;
  width: 400px;
  height: 540px;
  text-align: right;
} */

#pageTitle_container{
  /* display: inline-block; */
  position: relative;
  /* margin-left: 134px; */
  margin-top: 200px;
  width: 1440px;
  height: 880px;
}

.pageTitle{
  display: inline-block;
  position: relative;
  width: 297px;
  height: 210px;
  vertical-align: top; /* getting rid of space underneath images*/
  background-color: #224480;
  margin-left: 140px;
  margin-bottom: 117px;
  color: white;
}

.pageDate{
  position: relative;
  /* color: white; */
  font-size: 24px;
  text-align: center;
  line-height: 0px;
  /* margin: 0px; */
}

.pageName{
  position: relative;
  /* color: white; */
  margin-top: 38px;
  margin-left: 20px;
  font-size: 30px;
}
