/* body{
  font-family: 'Roboto';
} */
#item_container{
  position: relative;
  vertical-align: top;
  margin-top: 15.67px;
  margin-left: 280px;
}

.mainIcon{
  position: relative;
  vertical-align: top;
  width: 117px;
  height: 107px;
}
.content_text{
  display: inline-block;
  margin-top: 30px;
  margin-left: 35px;
  color: #3B4B5D;
  font-family: 'Bree Serif';
  font-size: 40px;
  line-height: 52px;
  /* text-align: center; */
}

/* #hexagon_template{
  position: absolute;
  top: 76.54px;
} */

#hexagon_container{
  display: inline-block;
  position: relative;
  margin-left: 108px;
  margin-top: 62px;
  width: 147px;
}

#hex1{
  position: relative;
  margin-bottom: 160px;
  /* position: absolute; */
  /* margin: 325.63px 761.35px 462.52px 448.14px; */
  /* border-top: blue; */
  /* border-bottom: blue; */
  /* background-color: wheat; */
  /* display: inline-block; */
}

#hex2{ 
  position: relative;
  /* margin: 325px 488.49px 463.15px 721px; */
}
/*
#hex3{
  position: absolute;
  margin: 523px 889.49px 265.15px 320px;
}

#hex4{
  position: absolute;
  margin: 523.15px 623.63px 265px 585.86px;
}

#hex5{
  position: absolute;
  margin: 523px 361.49px 265.15px 848px;
} */


.hexagon {
  position: relative;
  width: 147px; 
  height: 62.12px;
  background-color: #343F4B;
  margin: 42.44px 0; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 23px;
  text-align: center;
  font-family: 'Lato';
}


.hexagon::before,
.hexagon::after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 73.5px solid transparent;
  border-right: 73.5px solid transparent;
}

.hexagon::before {
  bottom: 100%;
  border-bottom: 42.44px solid #343F4B;
}

.hexagon::after {
  top: 100%;
  width: 0;
  border-top: 42.44px solid #343F4B;
}

/* .hexagon:nth-child(3){
  background-color: #3B4B5D;
}

.hexagon:nth-child(3)::before, .hexagon:nth-child(3)::after{
  border-bottom-color: #3B4B5D;
  border-top-color: #3B4B5D;
} */

.hexagon:hover{
  opacity: 0.5;
}

#directory_container{
  display: inline-block;
  position: absolute;
  margin-top: 146px;
  margin-left: 43px;
  /* top: 0px; */
  width: 990.91px;
}

.directory_box{
  display: inline-block;
  position: relative;
  margin-right: 43px;
}
.directory{
  width: 152px;
  height: 130px;
  object-fit: contain;
  margin-bottom: 13px;
}
.directory_desc{
  /* display: block; */
  /* margin-top: 13px; */
  color: #3c4858;
  font-family: 'Lato';
  font-size: 18px;
  line-height: 23px;
  width: 134px;
  text-align: center;
  margin: auto;
  /* font-weight: bolder; */
}
.line{
  background-color: #343F4B;
  width: 986px;
  height: 1px;
  opacity: 0.7;
}

#line1{
  margin-top: 20px;
}

#hi{
  display: inline-block;
}

#line2{
  display: inline-block;
  margin-left: 43px;
}
#contactUs_container{
  display: block;
  position: relative;
  margin-top: 489px;
  margin-left: 108px;
}

