.content{
  margin-top: 42.67px;
}

.title{
  /* display: inline-block; */
  /* margin-top: 0; */
  margin-left: 216px;
  color: #6DA256;
  font-family: 'Bree Serif';
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 0px;
  /* text-align: center; */
  width: 850px;
}

.description{
  margin-top: 43px;
  margin-left: 113px;
  background-color: #233D4D;
  padding-top: 15px;
  width: 819px;
  color: #FFFFFF;
  font-family: 'Bree Serif';
  font-size: 30px;
  line-height: 39px;
  text-align: left;
  padding-bottom: 16px;
}

#container{
  width: 1304px;
  margin-left: 123px;
}
iframe{
  display: inline-block;
  vertical-align: top;
}
/* #item_box_container{
  position: relative;

  margin-top: 71px;
  margin-left: 37px;
}
.item_box{
  display: inline-block;
  position: relative;
  margin-right: 94px;
  width: 260px;
  height: 429px;
}
.item_logo{
  width: 260px;
  height: 108px;
  object-fit: contain;
}
.item_label{
  background-color: #FFFFFF;
  border: 2px solid #000000;
  width: 260px;
  height: 55px;
  color: #47525E;
  font-family: 'Source Sans Pro';
  font-size: 34px;
  line-height: 44px;
  text-align: center;
  padding-top: 7px;
  
}
.item{
  background-color: #619B8A;
  opacity: 0.9;
  width: 260px;
  height: 207px;
}
.item_text{
  color: #FFFFFF;
  font-family: 'Source Sans Pro';
  font-size: 26px;
  font-style: italic;
  line-height: 33px;
  width: 206px;
  text-align: left;
  padding: 20px 0px 0px 20px;
} */